.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  min-width: 30px;
  background: #fff;
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;
  padding: 0;
  outline: none;
}

.btn i {
  margin: 0;
  padding: 0;
}

.btn:hover {
  background-color: #eee;
}

.btn-action {
  font-weight: normal;
  padding: 5px 20px;
  border-radius: 4px;
  margin-left: 10px;
  background: #6cb4d6;
  color: #fff;
  border: none;
}

.btn-action:hover {
  background: #6cb4d6;
  opacity: 0.7;
}

.App-content {
  display: flex;
  flex-grow: 1;
}
