.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.btn {
  width: 30px;
  height: 30px;
  background: #fff;
  border-color: #c8c8c8;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

.btn:hover {
  background-color: #eee;
}

.App-menu-button {
  margin-left: 25px;
}

.App-logo {
  font-size: 30px;
  margin-left: 25px;
  padding-bottom: 7px;
  font-family: 'Yellowtail', cursive;
  text-decoration: none;
  color: #6cb4d6;
}

.App-title {
  margin-left: 25px;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  height: 50px;
  padding-right: 25px;
  border-bottom: solid 1px #eee;
  box-shadow: 0px 0px 8px 2px rgba(245, 245, 245, 1);
}

.App-content {
  display: flex;
  flex-grow: 1;
}
