.App-logged-out {
}

.App-logo-logged-out {
  height: 80px;
}

.App-header-logged-out {
  text-align: center;
  background-color: #fff;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-content-logged-out {
  text-align: center;
}
