.NoteEditor {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 99995;
  top: 25px;
  padding: 25px;
}

.NoteEditor-tools {
  text-align: center;
}

.NoteEditor-expanded {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  box-shadow: 0px 0px 8px 2px rgba(245, 245, 245, 0.85);
}

.NoteEditor-tool {
  margin-right: 25px;
  margin-top: 25px;
}

.NoteEditor-tool-delete {
  background: #ff887c;
}

.NoteEditor-tool-delete:hover {
  background: #ff887c;
}

.NoteEditor-tool-color {
  margin-right: 5px;
  margin-top: 25px;
}

.NoteEditor-tool-color:hover {
  opacity: 0.7;
}

.NoteEditor-tool-color-selected {
  border: solid 1px #666;
}

.NoteEditor-tool-last {
  margin-right: 0;
}

.NoteEditor-text-editor-container {
  margin-top: 25px;
}

.NoteEditor-text-editor {
  border: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  padding: 5px;
  min-height: 150px;
  background-color: #fff;
}

.NoteEditor .public-DraftEditorPlaceholder-root {
  position: absolute;
  color: #bbb;
}
